<h1>Log in as</h1>
<div class="row" align="center">
    <%= link_to(image_tag("admin.jpeg"), login_path) %>
    <%= link_to(image_tag("Doc.jpeg"), login_path) %>
    <%= link_to(image_tag("Patient.png"), loginpat_path) %>
</div>
